
@functions {
    public bool IsCurrentPage(string pageName)
    {
        var currentPage = ViewContext.RouteData.Values["action"]?.ToString();
        return string.Equals(currentPage, pageName, StringComparison.OrdinalIgnoreCase);
    }
}


<div class="container">
    <a class="navbar-brand" href="Index">Student<span>Rental</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item @(IsCurrentPage("Index") ? "active" : "")"><a href="@Url.Action("Index", "Home" )" class="nav-link">Home</a></li>
            <li class="nav-item @(IsCurrentPage("About") ? "active" : "")"><a href="@Url.Action("About", "Home" )" class="nav-link">About</a></li>
            <li class="nav-item @(IsCurrentPage("Services") ? "active" : "")"><a href="@Url.Action("Services", "Home" )" class="nav-link">Services</a></li>
            <li class="nav-item @(IsCurrentPage("Pricing") ? "active" : "")"><a href="@Url.Action("Pricing", "Home" )" class="nav-link">Pricing</a></li>
            <li class="nav-item @(IsCurrentPage("Car") ? "active" : "")"><a href="@Url.Action("CarsAdmin", "CarsAdmin" )" class="nav-link">Cars</a></li>
            <li class="nav-item @(IsCurrentPage("Blog") ? "active" : "")"><a href="@Url.Action("Blog", "Home" )" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="@Url.Action("Contact", "Home" )" class="nav-link">Contact</a></li>
            <li class="nav-item">
                @if (Session["UserName"] != null)
                {
                    <span class="nav-link">Hello, @Session["UserName"]</span>

                }
                else
                {
                    <a href="@Url.Action("LogIn", "Login" )" class="nav-link">Log In</a>
                }
                    </li>
        </ul>
    </div>
</div>